<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evento Package</title>
    <link rel="icon" type="image/x-icon" href="/assest/images/FFIcon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assest/css/font.css">
    <link rel="stylesheet" href="/assest/css/style.css">
    <script src="../angular/angular.min.js"></script>
    <script src="/javascripts/constants.js"></script>
    <script src="/javascripts/filters.js"></script>
    <script src="/javascripts/directives.js"></script>
    <script src="/javascripts/services.js"></script>
    <script src="/assest/js/socket.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/controllers/notify.controller.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>
